### Importing libraries

In [1]:
import numpy as np
import pandas as pd

In [6]:
# Reading data
df = pd.read_csv(r"data\placement.csv")

In [7]:
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [9]:
df.shape

(100, 4)

#### Steps to perform
1. Preprocess + EDA + Feature Selection
2. Extract input and output cols
3. Scale values
4. Train test split
5. Train the model
6. Evaluate the model/ model selection
7. Deploy the model

In [ ]:
# As you can see there are no null values
# We have only 1 extra column Unnamed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  100 non-null    int64
 1   cgpa        100 non-null    float64
 2   iq          100 non-null    float64
 3   placement   100 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 3.3 KB

In [11]:
df = df.iloc[:,1:]

In [12]:
df.head()

   cgpa     iq  placement
0   6.8  123.0          1
1   5.9  106.0          0
2   5.3  121.0          0
3   7.4  132.0          1
4   5.8  142.0          0